This is a combination scratchpad and notebook for the book, not a comprehensive set of observations.

## Chapter 2

### Typing

On a number of occasions I've heard python referred to as 'strongly typed', and could never grok the explanation that invariably followed. 

What it means is that each object has a class associated with it which is not changed except in certain obvious circumstances. For example, if we try to run `'5' + 5` python will throw an error, which is not the case in some other languages. The author says that in Visual Basic the string `'5'` would be cast into integer form so that addition could take place, while in javascript the casting would go the other way and the integer would become a string, yielding `'55'`. Neither occurs in python. 

An exception would be when floats and integers are coerced so as to be compatible: `4.5 + 1` gives `5.5`, even though technically these are different data types.

In normal typing, the suitability of an object for a purpose is determined by its type. In duck typing -- named for the phrase 'if it walks like a duck and quacks like a duck, it's a duck' -- the suitability of an object for a purpose is determined by whether or not it has certain methods or attributes.

In [1]:
# If you have a string with many special character requirements it can 
# be prefaced with 'r', which means 'raw', and preserves formatting. 

s = r'this\has\no\special\characters'
s

'this\\has\\no\\special\\characters'

### Dates and times.

In [2]:
from datetime import datetime, date, time

# This creates a datetime object.
dt = datetime(2019, 1, 18, 9, 53, 20)

dt

datetime.datetime(2019, 1, 18, 9, 53, 20)

In [3]:
# This method tells us the time. 
dt.time()

datetime.time(9, 53, 20)

In [4]:
# This method tells us the date.
dt.date()

datetime.date(2019, 1, 18)

The `strftime` method lets us format a datetime as a string:

In [5]:
dt.strftime('%m/%d/%Y %H:%M')

'01/18/2019 09:53'

And of course we can go the other way with `strptime`

In [6]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [7]:
# The .replace() method could prove useful when aggregating datetime info.
dt.replace(minute=0,second=0)

datetime.datetime(2019, 1, 18, 9, 0)

In [8]:
# Finding the difference or 'change' between two datetime objects produces
# a datetime.timedelta object:

dt1 = datetime(2011, 11, 15, 22, 30)
delta = dt - dt1
delta

datetime.timedelta(2620, 41000)

(This output is in days + seconds)

In [9]:
# I've seen this before, in a numpy exercise:

import numpy as np

today = np.datetime64('today', 'D')
yesterday = today - np.timedelta64(1, 'D')
yesterday

numpy.datetime64('2019-01-28')

Until just now I didn't realize what the `.timedelta()` was used for.

### Control Flow

`break` differs from `continue` in that the former completely terminates the for loop that lives in, while continue just skips the remainder of the block on that single iteration.

Just like `lambda` let's us collapse function definitions into a single line if they're short enough, ternary expressions let us do the same thing when if/else conditionals are short enough. 

Instead of:

`
x = 5

if x >= 0:
    print('Non-negative')
else:
    print('Negative')
`

We can have:
`
'Non-negative' if x >=0 else 'Negative'.

## Chapter 3

### Tuples

In [10]:
#I've seen `list('abcde')` before, but never seen it done with a tuple:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup = tuple(['string', 'two'])
tup

('string', 'two')

In [12]:
# It is not possible to modify a tuple, but the objects within a tuple 
# can be modified in-place if they're mutable. 

tup = tuple(['froo', [1,2,3], True])
tup[1].append(4)

#This won't throw an error. 
tup[2] = False

TypeError: 'tuple' object does not support item assignment

As with strings tuples can be concatenated, and we can join many copies of a tuple together using the `*` operator.

In [ ]:
# Tuple unpacking is pretty cool:

tup = (4,5,6)
a,b,c = tup
b

# And can even be done with nested values!
tup = (4,5,6,(7,8))
a,b,c,(d,e) = tup

# This allows for powerful, flexible operations to be done on tupled 
# sequences:

seq = [(1,2,3), (4,5,6), (7,8,9)]
for a,b,c in seq:
    print("a={0}, b={1}, c={2}".format(a,b,c))

In [ ]:
# If we have a lengthy tuple and merely want to grab the first couple of 
# values in it we can get what we want and deal with the leftovers using
# *. 

vals = 1,2,3,4,5,6,7,8
a,b,c,*rest = vals

# *rest is not a special or reserved term; in fact, the standard convention
# is to do the above like this:

vals = 1,2,3,4,5,6,7,8
a,b,c,*_ = vals
_

I'm familiar with the distinction between a data structure like a list and an iterator, but here in this chapter is an excellent illustration of the difference.

This doesn't return a list of values, it returns an iterator object:

In [ ]:
gen = range(10)
gen

Here is how we concretize the iterator:

In [ ]:
list(gen)

`.append()`, `.insert()`, `.pop()`, and `.remove()` are all worth understanding well, as they give lists a lot of flexibility. All of this is computationally expensive, however, and better done on a large scale with other specialized data structures.

Lists can be concatenated, but this is expensive because it creates a new list and copies everything else over. `extend()`, however, avoids this because it modifies an existing list in place. 

`
everything = []
for chunk in some_list:
    everything.extend(chunk)
`

is better than 

`
everything = []
for chunk in some_list:
    everything += chunk
`

It's common to want to keep track of an elements location in a sequence, which is often accomplished by incrementing some placeholder variable like `i`. But `enumerate` offers another, quicker way to do the same thing. 

It's also useful for mapping the locations of various elements in a sequence:

In [ ]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i
    
mapping

If we wanted to create a dictionary from two sequences we could do something like this:

In [ ]:
mapping = {}

for key, value in zip(sequence_one, sequence_two):
    mapping[key] = value

Because a dictionary is basically a collection of 2-tuples we can actually make a dictionary with just a set of 2-tuples:

In [ ]:
mapping = dict(zip(range(5), reversed(range(5))))

In [ ]:
mapping

Something relatively unwieldy like this:

In [ ]:
# if key in some_dict:
#     value = some_dict[key]
# else:
#     value = default_value

Can be replaced by:

In [ ]:
# value = some_dict.get(key, default_value)

Another example:

In [ ]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word] # We want it to be a list, not just the word. 
    else:
        by_letter[letter].append(word)

Can be replaced with:

In [ ]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
    
by_letter

Which can be compressed even more with the `defaultdict` method from `collections`:

In [ ]:
from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

Sets are unordered and all the basic set-theoretic operations can be done on them. For each of these operations there exists an in-place variant that replaces the contents of the leftward set with the result of the computation:

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

a &= b
a

Which can also be done with set methods:

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

a.intersection_update(b) # is equivalent to a &= b

It is possible to add non-scalar elements to sets, but they must be immutable. Given a list, we could add it to a set by making it into a tuple.

In [ ]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

In [ ]:
# List, dict, and set comprehensions are powerful, flexible features of Python. 

# listcomp
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
big_str = [x.upper() for x in strings if len(x) >= 2]

# dict comp
dict_loc = {val: index for index, val in enumerate(strings)}
print(dict_loc)

# set comp
unique_lengths = {len(x) for x in strings}

In [ ]:
# We could replace this set comprehension with the .map() function

unique_len_map = set(map(len, strings))
unique_len_map

In [ ]:
# List comprehensions can be nested, and the for loops are arranged the same way they would be 
# if they were written as actual nested for loops.

some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

In [ ]:
# In some programming languages it isn't possible to return multiple values, but it is in python.

def func():
    a = 5
    b = 6
    c = 7
    return a,b,c

# Which allows us to do this:

a,b,c = func()

# We might want to do the same thing with a dictionary:

def func():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b, 'c': c}

# Either approach could be useful, depending on what we're after.

In [ ]:
# In python, everything is an object, which should inform how we approach data-cleaning tasks. 
# Say we have the following messy user-submitted data:

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

# One klunky way of fixing this would be to use regular expressions and a bunch of assignments 
# to clean things:

import re 

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() # a built-in string method 
        value = re.sub('[!#?]', '', value)
        value = value.title() # must be built-in, never seen it before.
        result.append(value)
    return result 

print(clean_strings(states))

In [ ]:
# There must surely be a better way...

states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

def remove_punctuation(value):
    return re.sub('[!#?]','', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

print(clean_strings(states, clean_ops))

Ultimately these are equivalent, but the second gives us a great deal of 
control over how our inputs are formatted at a high level.

Lambda functions are also called anonymous functions because that's what they are. Instead of writing out a whole function with a name we have a syntax for making really simple functions on the fly. 

Even better, many Python functions will take functions like `lambda` as arguments, which enables all kinds of flexibility.

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

# And then...

ints = [1,2,3,4,5]
apply_to_list(ints, lambda x: x * 2)

In [ ]:
# Or say we want to pass lambda to the sort() string method to sort a list 
# of strings by the number of distinct characters they contain. 

strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
# sorted_strs = strings.sort(key=lambda x: len(set(list(x)))) This won't 
# work because it's operating in place, thereby returning None automatically.

strings

Currying is deriving new functions from the partial application of existing functions. For example:

In [ ]:
def add_num(x,y):
    return x + y

# Now we can get a new function by partially applying the add_num function

add_five = lambda y: add_numbers(5, y)

# In this example 'y' is said to be curried. Naturally, the 'partial' 
# function from functools gives us a more straightforward way of doing this. 

from functools import partial 

add_five = partial(add_num, 5)

#### Generators

Having a concise way to represent iterables is an important feature of Python. A generator is just a way of constructing an iterable which yields objects to the Python interpreter 'lazily' -- one at a time, pausing after each until the next is requested. 

These are usually built with the `yield` keyword:

In [ ]:
def squares(n=10):
    for i in range(1, n + 1):
        yield i**2

In [ ]:
squares() # Note that this doesn't work like a regular function.

In [ ]:
gen = squares()
for x in gen:
    print(x, end = ' ')

In [ ]:
# A generator expression makes this even more concise. To build one, simply 
# make a list comprehension but enclose it in parentheses as opposed to 
# brackets. 

gen = (x**2 for x in range(100))

In [ ]:
# Generator expressions have a lot of power, and can be used in many places 
# where we otherwise might have to write out a more verbose function or 
# store a data structure in memory. 

sum(x**2 for x in range(100))

In [ ]:
dict((i, i**2) for i in range(5))

#### itertools

Itertools is a big fat built-in module filled with generator tools for all sorts of common algorithms.

In [ ]:
import itertools

first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

In [ ]:
letters = list('abcdefghijklmnopqrstuvwxyz')
letters
for el in itertools.combinations(letters, 3):
    print(el)

In [ ]:
letters = list('abcdefghijklmnopqrstuvwxyz')
letters
for el in itertools.permutations(letters, 3):
    print(el)

#### Exception Handling

Python affords us lots of ways of dealing with errors. Though Python natively throws errors when someone makes a mistake, it's also possible to build a more nuanced approach:

In [ ]:
float('1.234') # works

In [ ]:
float('not a float') # doesn't

In [ ]:
# If instead we'd like to return the value:

def attempt_float(x):
    try:
        return float(x)
    except:
        return x
    
attempt_float('1.234') # works

In [ ]:
attempt_float('not a float') # doesn't, but now returns the original value.

The above functionality probably doesn't matter a whole lot when writing 10 lines of code, but I imagine it ends up being important later on down the road.

In [ ]:
# 'float' can throw more than one kind of error.

float((1,2))

In [ ]:
# And we can specify one or more error types in the 'except' part.

def attempt_float(x):
    try:
        float(x)
    except ValueError:
        return x

# Or

def attempt_float(x):
    try:
        float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
# With 'else' and 'finally' we can get more nuance still:

f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()
    
# Whatever comes after 'finally' will always be executed, regardless of 
# happens in the try/except block.

Numpy is built for fast processing of data housed in containers like N-dimensional Arrays or 'ndarrays'. All data are placed in contiguous blocks of memory, increasing speed by reducing computational overhead, and operations like multiplying every element by 2 can be done with the same syntax as would be appropriate for scalars.

Numpy tends to modify arrays in place a lot more often than general Python does. This makes sense given that Numpy is meant to work on large arrays of data.

We have lots of ways of slicing and indexing into our arrays. Take the following example:

In [ ]:
import numpy as np

names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7,4)

In [ ]:
# Here, we're imagining that there's some connection between 'names' and 
# data, that the rows in data correspond to names. If we want to grab the 
# information pertinent to 'Bob'. 

data[names == 'Bob']

In [ ]:
# We can pile on further indexing to get just some columns and not others. 

data[names == 'Bob', 2:]

In [ ]:
# And we can just those values which do not pertain to Bob with a ~

data[~(names == 'Bob')]

In [ ]:
# Or more generally and concisely:

cond = names == 'Bob'
data[~cond]

In [ ]:
# A more complicated 'masking' procedure can also be employed. 

mask = (names == 'Bob') | (names == 'Will')
data[~mask]

In [ ]:
# And assignment works as well 

data[names != 'Joe'] = 7

In [ ]:
data

In [ ]:
# Fancy indexing refers to indexing with an array of integers, and 
# gives us the power to do things like get rows out of order. 

arr = np.empty((8,4))
for i in range(8):
    arr[i] = i

arr
arr[[4,3,0,6]] # Note, these aren't in order.

In [ ]:
# And it works in reverse.

arr[[-5, -7, -3]]

In [ ]:
# Passing in multiple arrays does something a bit different, creating 
# index tuples from the respective elements of each array and indexing 
# into the original data structure. 

arr = np.arange(32).reshape((8,4))
arr[[1,5,7,2], [0,3,1,2]]

In [ ]:
# What this does is basically stack the two arrays:

# [1,5,7,2]
# [0,3,1,2]

# Creating index tuples: (1,0), (5,3), etc., and grabs the values at those 
# indices.

In [ ]:
# Transpose let's you switch rows and columns, and comes in handy for lots 
# of basic linear algebra stuff. 

arr = np.random.randn(6,3)

# Like finding the inner dot product:
np.dot(arr.T, arr)

In [ ]:
# Incredibly, transpose accepts tuple arguments so that we may select which 
# axis to mess with (but we have to write .transpose(), to .T)

arr = np.arange(16).reshape((2,2,4))
arr.transpose((1,0,2))

In [ ]:
# .T is really a special example of the more general .swapaxes(), which
# takes arguments telling us which axes to swap. 

arr = np.arange(16).reshape((2,2,4))
arr.swapaxes(1,2)

#### Universal Functions

Numpy let's us do element-wise operations on arrays. A `ufunc` or 'unary function' is another name for this. A binary function like `.maximum()` takes two arrays and returns another array containing whichever of the two values was the largest.

In [ ]:
# It isn't very common, but a ufunc can return multiple arrays, like 
# .modf(), which gives us the integer and fractional part of an array 
# of floating-point numbers. 

arr = np.random.randn(7) * 5
arr

In [ ]:
remainder, whole = np.modf(arr)
remainder

In [ ]:
whole

#### Array-Oriented Programming with Arrays

In [ ]:
points = np.arange(-5, 5, .01)
xs,ys = np.meshgrid(points, points)
z = np.sqrt(xs ** 2 + ys ** 2)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.imshow(z, cmap = plt.cm.gray); plt.colorbar()

In [ ]:
plt.title("Image plot of $\sqrt{x^2 + y^2}$ for a grid of values")

In [ ]:
plt.show()

In [ ]:
# Numpy has numerous advantages when working with large arrays or multidimensional arrays. 
# For example, consider the following:

xarr = [1.1, 1.2, 1.3, 1.4, 1.5]
yarr = [2.1, 2.2, 2.3, 2.4, 2.5]
cond = [True, False, True, True, False]

# Imagine that we want to get a value from xarr when cond is True and a value from yarr other
# wise. With a standard python list comprehension:

result = [(x if c else y) for x,y,c in zip(xarr, yarr, cond)]

# This would be slow for larger arrays and wouldn't work at all for multidimensional ones. Luckily,
# numpy has us covered:

result_where = np.where(cond, xarr, yarr)

In [ ]:
result

In [ ]:
result_where

In [ ]:
# Where has other uses. We can use it to build a new array on the basis of values from an old 
# one. Say we wanted to replace all the negative values in an array with -2 and all positive 
# values with 2

arr = np.random.randn(4,4)
np.where(arr > 0, 2, -2)

In [ ]:
# Or, we could just do the positive values:

arr = np.random.randn(4,4)
np.where(arr > 0, 2, arr)

As befits a package devoted to scientific computing, numpy has numerous ways of calculation statistics on arrays. Methods like `.mean()` can either be called on an array: `arr.mean()` or by passing the array into numpy as an argument: `np.mean(arr)`. 

Many of these also take an optional axis argument, which allows them to calculate on either rows or columns, as opposed to the entire array.

In [ ]:
# We can use .sum() to do useful things like count Booleans.

arr = np.random.randn(100)
(arr > 0).sum()

In [ ]:
# Moreover, the .any() and .all() methods check whether there are any True values in an array 
# and whether all are True, respectively. 

bools = np.array([True, False, False, True])
bools.any(), bools.all()

In [ ]:
# Neither is limited to Boolean arrays. When used elsewhere non-zero elements are equivalent to 
# True. 

arr_zers = np.zeros(10)
arr_ones = np.ones(10)
arr_zers.any(), arr_zers.all(), arr_ones.any(), arr_ones.all()

In [ ]:
# We can find the given percentile of an array using sort:

large_arr = np.random.randn(1000)
large_arr.sort
large_arr[int(.05 * len(large_arr))]

In [ ]:
# Numpy's own random module does a much better job than python's built-in 
# version for a variety of tasks, and it's quicker. 

from random import normalvariate

N = 1000000

%timeit samples = [normalvariate(0,1) for _ in range(N)]

In [ ]:
%timeit np.random.normal(size=N)

In [ ]:
# I've seen np.random.seed() all over the place. I still don't entirely 
# understand what it does, but evidently it changes the seed with which 
# numpy's random number generating algorithm starts.

In [ ]:
# Implementing a random walk in pure python. 

import random 

position = 0
walk = [position]
steps = 1000

for i in range(steps):
    step = 1 if random.randint(0,1) else -1
    position += step 
    walk.append(position)

In [ ]:
plt.plot(walk[:100])
plt.show()

In [ ]:
# The point at which the random walk got 10 steps away from the origin in 
# either direction. 
(np.abs(walk) >= 10).argmax()

In [ ]:
# Imagine that we wanted to compute 5000 random walks all at once. 

nwalks = 5000
nsteps = 1000
draws = np.random.randint(0,2,size=(nwalks, nsteps))
steps = np.where(draws > 0, 1, -1)
walks = steps.cumsum(1)
walks

In [ ]:
# Let's do some tricks with this. Say we want to figure out how many and 
# which arrays reached 30 steps away from the origin in either direction. 

hits30 = (np.abs(walks) >= 30).any(1)

# Now, find the number that hit 30
hits30.sum()

#### Pandas

In [23]:
# Reindexing is an important feature of pandas. 
import pandas as pd

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=list('abcd'))
obj2 = obj.reindex(['d','c','b','a'])
obj2

d    3.6
c   -5.3
b    7.2
a    4.5
dtype: float64

In [26]:
# .reindex() gives us at least one method for interpolating missing values. 

obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [29]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
frame2 = frame.reindex(['a','b','c','d'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [31]:
states = ['Texas', 'Utah', 'California']
frame2.reindex(columns=states)
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [33]:
# When adding two objects together, if index pairs don't match the index in the result will 
# be the union of the index pairs. 

s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index = ['a','c','d','e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a','c','e','f','g'])
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

Pandas handles the data alignment issues by introducing `Nan` wherever necessary, which will propagate throughout further calculations.

In [38]:
# Alignment happens on both row and column levels with DataFrames. 

df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns=list('bcd'), index=['Ohio','Texas','Colorado'])
df2 = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('bde'), index=['Utah','Ohio','Texas','Oregon'])
df1 + df2

# Notice that again Pandas places Nans wherever data doesn't match up. In this case, that 
# includes two whole columns 'c' and 'e', as well as rows corresponding to indices which aren't
# present in both

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

In [41]:
# Alternatively, we could use a slightly more verbose syntax to fill these missing values in 
# with zeros. 

df2.add(df1, fill_value=0)

# Hmmm, neither my example nor the example in the book behaves as I would've expected. I'll 
# have to be careful here.

            b    c     d     e
Colorado  6.0  7.0   8.0   NaN
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  NaN  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  NaN   1.0   2.0

In [44]:
# Pandas let's us do arithmetic between data structures of different dimensionality. Observe:

arr = np.arange(12.).reshape(3,4)
arr - arr[0]

# This operation happens once per row, known as 'broadcasting'.

array([[0., 0., 0., 0.],
       [4., 4., 4., 4.],
       [8., 8., 8., 8.]])

In [48]:
# More or less the same thing happens if we subtract a series from a dataframe. 

frame = pd.DataFrame(np.arange(12).reshape(4,3), columns=list('bde'), index=['Utah','Ohio','Texas','Oregon'])
series = frame.iloc[0]

frame - series

# In this case, the series consists of the value from the 'Utah' row and the corresponding 
# columns as indices. So when this subtraction takes place series is tilted on its side (so the 
# indices line up) and then broadcast across the dataframe.

        b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9

In [52]:
# Of course if the columns or rows don't line up, we get nans:

series2 = pd.Series(range(3), index=['b','e','f'])
frame + series2

          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN

In [53]:
# We can also broadcast across columns:

series3 = frame['d']
frame.sub(series3, axis='index')

        b  d  e
Utah   -1  0  1
Ohio   -1  0  1
Texas  -1  0  1
Oregon -1  0  1

In [54]:
# With .apply() we can apply a function on one-dimensional arrays to columns or rows. 

frame = pd.DataFrame(np.random.randn(4,3), columns=list('bde'), index=['U','O','T','Or'])
f = lambda x: x.max() - x.min()

frame.apply(f)

b    2.814524
d    1.087298
e    1.192367
dtype: float64

In [56]:
# Or we could do the same thing, column-wise:

frame.apply(f, axis='columns')

U     2.248116
O     2.010094
T     0.676697
Or    0.778900
dtype: float64

In [57]:
# This can extend to more complicated functions:

def f(x):
    return pd.Series([x.max(), x.min()], index=['max','min'])

frame.apply(f)

            b         d         e
max  1.802839  0.398675  1.236431
min -1.011685 -0.688623  0.044064

In [58]:
frame.apply(f, axis='columns')

         max       min
U   1.236431 -1.011685
O   1.802839 -0.207255
T   0.720761  0.044064
Or  1.177575  0.398675

In [67]:
# Sorting a DataFrame is important. 

obj = pd.Series(range(4), index=list('dabc'))
obj

d    0
a    1
b    2
c    3
dtype: int64

In [68]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [70]:
# As before, this functionality extends to rows and columns:

frame = pd.DataFrame(np.arange(8).reshape(2,4), index=['three','one'], columns=list('dabc'))
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [73]:
frame.sort_index(axis='columns')

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [74]:
# I don't understand how ranking works. 
# Ah, okay! It iterates through the array, and each value receives its 'ranking' compared 
# to all the other values. Ties are broken by assigning an average of the ranks
# So when the algorithm encounters 7 at index 0, it ranks this there is another 7 and the two 
# of them would be ranked # 6 and # 7, so they are both assigned the average of (6 + 7)/2 = 6.5

# -5,0,2,4,4,7,7 --> 1,2,3,4,5,6,7 --> 1,2,3,4.5,4.5,6.5,6.5

obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64